/* Basic CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS code for Single Page App */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  width: 50%;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  color: rgb(92, 91, 91);
}

.nav-link:hover {
  color: blue;
}

.comment-pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 1rem 1rem;
}

.image-thumbnail-delete-icon-container {
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.comment-game-image {
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}

.comment-name-of-game {
  text-align: center;
  margin: 15px auto;
}

.comment-game-description-container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  margin: 0.8rem 5px;
}

.comment-game-description-details {
  padding: 5px;
}

footer {
  margin-top: auto;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  padding: 5px;
}
