/* Basic CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS code for Single Page App */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  width: 50%;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  color: rgb(92, 91, 91);
}

.nav-link:hover {
  color: blue;
}

.comment-pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 40px;
  margin: 1rem 1rem;
}

.image-thumbnail-delete-icon-container {
  display: grid;
  grid-template-columns: 10fr 2fr;
}

.comment-game-image {
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}

.comment-delete-icon {
  width: 60%;
  margin: 10px auto;
  border-radius: 30px;
}

.comment-name-of-game {
  text-align: center;
  margin: 15px auto;
  font-weight: 700;
}

.comment-game-description-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.8rem 5px;
}

.comment-game-description-details {
  margin-left: 15px;
  padding: 5px;
}

.comment-comments-container {
  width: 60%;
  margin: 15px auto;
  border: 1px solid black;
}

.comment-server-comments-container {
  border: 2px solid green;
  margin: 10px auto 25px;
}

.comment-individual-server-comment {
  text-align: center;
  padding-bottom: 10px;
}

.comment-server-comments-header-text {
  text-align: center;
  margin: 15px auto;
  font-weight: 700;
}

.comment-comments-form-header-text {
  text-align: center;
}

.comment-add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px 5px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.comment-input-text-name {
  border: 2px solid rgb(85, 82, 82);
  border-radius: 10px;
  box-shadow: 2px 2px;
  height: 1.5rem;
  width: 50%;
  margin: 10px auto;
}

.comment-input-text-comment {
  border: 2px solid rgb(85, 82, 82);
  border-radius: 10px;
  box-shadow: 2px 2px;
  height: 4rem;
  width: 50%;
}

.comment-popup-section {
  display: none;
}

#main {
  width: 90%;
  margin: 16px auto;
}

#main ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 36px;
}

.game {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  width: 28%;
  padding: 5px;
}

.game-title-and-social-activities {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.game-title {
  font-size: 18px;
  font-weight: 600;
}

.social-activities {
  display: flex;
  flex-direction: column;
}

.social-activities i {
  align-self: center;
  color: red;
}

footer {
  margin-top: auto;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  padding: 5px;
}
